/* Home Component Styles */
/* Handled via Tailwind CSS */
#home {
    background: linear-gradient(360deg, #E7F2FF 0%, #FFFFFF 100%);
}

#home .container {
    padding: 50px 50px;
}

#home h1 {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

#home h1 span {
    font-family: "Roboto Condensed";
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.leading-relaxed {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.position-relative {
    position: relative;
    padding-top: 60px;
}

.ball {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #E1F1FF;
}