<section>
    <div class="enlaces">
        <img src="/assets/cumpliendo.png" alt="">
        <div class="enlace" [routerLink]="['/mapa']">MAPA DE COMPROMISOS</div>
        <div class="enlace"><a href="https://archivodigital.cundinamarca.gov.co/iccu/" target="_blank">MAPA DE ICCU</a> </div>
        <div class="enlace" [routerLink]="['/compromisos']">REGISTRO DE COMPROMISOS</div>
        <div class="enlace" [routerLink]="['/ficha-tecnica']">FICHAS TECNICAS VISITA</div>
        <div class="enlace">BASE DE DATOS - IMPRESION</div>
    </div>
    <img src="/assets/gobernacion_home.png" alt="" class="logo-gobernacion" />
</section>