<!-- src/app/components/fichas-tecnicas-visita/ficha-list.component.html -->
<app-header></app-header>
<div class="container mx-auto p-6 bg-gray-50 rounded-lg shadow-lg my-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Fichas Técnicas de Visita</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <div>
            <label for="provincia" class="block text-sm font-medium text-gray-700">Provincia</label>
            <select id="provincia" [(ngModel)]="selectedProvincia" (change)="onProvinciaChange()"
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                <option value="">Todas las provincias</option>
                <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
            </select>
        </div>
        <div>
            <label for="municipio" class="block text-sm font-medium text-gray-700">Municipio</label>
            <select id="municipio" [(ngModel)]="selectedMunicipio" (change)="onMunicipioChange()"
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                <option value="">Todos los municipios</option>
                <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
            </select>
        </div>
    </div>
    <div class="flex justify-center items-center mb-6">
        <div class="flex space-x-4">
            <button (click)="generarReportePorMunicipio()"
                class="text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out"
                style="    background-color: #112b42;">
                Reporte por Municipio
            </button>
            <button (click)="generarReporteResumen()"
                class="text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out"
                style="    background-color: #112b42;">
                Reporte de Resumen
            </button>
        </div>
    </div>

    <div class="flex justify-start mt-6">
        <a routerLink="/home"
            class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out">
            Volver
        </a>
    </div>
</div>
<app-footer></app-footer>